<template>
    <div>
        
        <h2>Scores</h2>
        <table v-if="scores.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in scores">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.points }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Ratings</h2>
        <table v-if="ratings.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Stars</th>
                    <th>Contens</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in ratings">
                    <td>{{ item.id }}</td>
                    <td>{{ item.stars }}</td>
                    <td>{{ item.content }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Comments</h2>
        <table v-if="comments.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in comments">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.content }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script src="./stats.ts"></script>
