@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>
    <strong>S&uacute;bory cookie</strong>
</p>
<p>
    S cieľom zabezpečiť riadne fungovanie tejto webovej lokality uklad&aacute;me niekedy na va&scaron;om
    zariaden&iacute; mal&eacute; d&aacute;tov&eacute; s&uacute;bory, tzv. cookie. Je to bežn&aacute;
    prax v&auml;č&scaron;iny veľk&yacute;ch webov&yacute;ch lokal&iacute;t.
</p>
<p>
    <strong>Čo s&uacute; s&uacute;bory cookie</strong>
</p>
<p>
    S&uacute;bor cookie je mal&yacute; textov&yacute; s&uacute;bor, ktor&yacute; webov&aacute;
    lokalita uklad&aacute; vo va&scaron;om poč&iacute;tači alebo mobilnom zariaden&iacute; pri
    jej prehliadan&iacute;. Vďaka tomuto s&uacute;boru si webov&aacute; lokalita na určit&yacute;
    čas uchov&aacute;va inform&aacute;cie o va&scaron;ich krokoch a preferenci&aacute;ch (ako s&uacute;
    prihlasovacie meno, jazyk, veľkosť p&iacute;sma a in&eacute; nastavenia zobrazovania), takže
    ich pri ďal&scaron;ej n&aacute;v&scaron;teve lokality alebo prehliadan&iacute; jej jednotliv&yacute;ch
    str&aacute;nok nemus&iacute;te op&auml;tovne uv&aacute;dzať.
</p>
<p>
    <strong>Ako použ&iacute;vame s&uacute;bory cookie</strong>
</p>
<p>
    Tieto webstr&aacute;nky použ&iacute;vaj&uacute; s&uacute;bory cookies na zapam&auml;tanie
    použ&iacute;vateľsk&yacute;ch nastaven&iacute;, pre lep&scaron;ie prisp&ocirc;sobenie rekl&aacute;m
    z&aacute;ujmom n&aacute;v&scaron;tevn&iacute;kov a pre nevyhnutn&uacute; funkcionalitu
    webstr&aacute;nok.
</p>
<p>
    <strong>Ako kontrolovať s&uacute;bory cookie</strong>
</p>
<p>
    S&uacute;bory cookie m&ocirc;žete kontrolovať alebo zmazať podľa uv&aacute;ženia &ndash;
    podrobnosti si pozrite na str&aacute;nke&nbsp;
    <a href="http://aboutcookies.org/"
       target="_blank">
        aboutcookies.org
    </a>.&nbsp;
    M&ocirc;žete vymazať v&scaron;etky s&uacute;bory cookie uložen&eacute; vo svojom poč&iacute;tači
    a v&auml;č&scaron;inu prehliadačov m&ocirc;žete nastaviť tak, aby ste im znemožnili ich
    ukladanie. V takomto pr&iacute;pade v&scaron;ak pravdepodobne budete musieť pri každej n&aacute;v&scaron;teve
    webovej lokality manu&aacute;lne upravovať niektor&eacute; nastavenia a niektor&eacute;
    služby a funkcie nebud&uacute; fungovať.
</p>
<p>
    <strong>Ako odmietnuť použ&iacute;vanie s&uacute;borov cookie</strong>
</p>
<p>
    Použ&iacute;vanie s&uacute;borov cookie je možn&eacute; nastaviť pomocou V&aacute;&scaron;ho
    internetov&eacute;ho prehliadača. V&auml;č&scaron;ina prehliadačov s&uacute;bory cookie
    automaticky prij&iacute;ma už vo &uacute;vodnom nastaven&iacute;.
</p>
<p>
    <strong>Doplnkov&eacute; služby</strong>
</p>
<p>
    Na na&scaron;ej str&aacute;nke taktiež implementujeme r&ocirc;zne prvky, ktor&eacute; m&ocirc;žu
    pristupovať k s&uacute;borom cookie, inform&aacute;cie o tom ako sprac&uacute;vaj&uacute;
    &uacute;daje sa doč&iacute;tate na n&aacute;sleduj&uacute;cich str&aacute;nkach.
</p>
<p>
    <strong>reCAPTCHA</strong>
</p>
<p>
    <a href="https://www.google.com/intl/sk/policies/privacy/" target="_blank">Ochrana s&uacute;kromia</a><br/>
    <a href="https://www.google.com/intl/sk/policies/terms/" target="_blank">
        Zmluvn&eacute;
        podmienky
    </a>
</p>